---
import { getAllPostsPaginated } from "@/lib/supabase";
import PostPage from "../components/PostPage.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";

// export const getStaticPaths = (async ({ paginate }) => {
// 	const allBlogPosts = await getSortedPosts();
// 	return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
// }) satisfies GetStaticPaths;
// // https://github.com/withastro/astro/issues/6507#issuecomment-1489916992

// const { page } = Astro.props;

// const len = page.data.length;

const { posts, error } = await getAllPostsPaginated(0);

if (error) {
	console.error("Error fetching posts:", error.message);
}

// const len = posts ? posts.length : 0;
---

<MainGridLayout>
    {/* TODO: implement pagination */}
    {
        (error || !posts)
            ? <p class="text-red-500">加载文章时出错: {error?.message}</p>
            : (
            <PostPage posts={posts}></PostPage>
            // <Pagination class="mx-auto onload-animation" posts={posts} style={`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`}></Pagination>
            )
    }
    {/*
    <PostPage page={page}></PostPage>
    <Pagination class="mx-auto onload-animation" page={page} style={`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`}></Pagination>
    */}
</MainGridLayout>